body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    width: 81px;
    height: 81px;
    box-sizing: border-box;
    border-radius: 50px;
}

#equals {
   width: 165px; 
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 400px;
}

.display-container {
    text-align: center;
    word-wrap: break-word;
    word-break: break-all; 
    display: flex;
    justify-content: center;
}

.display {
    background-color: grey;
    font-size: 50px;
    min-height: 64px;
    width: 400px;
    margin: 19px;
    padding: 11px;
    text-align: end;
    border-radius: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
/*  this is the class for the number buttons container (1,2,3,4,5...0,=) */
.num-bttn-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

/* this is the class for the operator button container (+, -, /,*)*/
.operator-bttn-cont {
    display: flex;
    flex-direction: column;
    height: 339px;
    gap: 5px;
}