body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    width: 81px;
    height: 81px;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 2px 2px 2px #1d2028;
}
 
/* adds active effect when user clicks on a button */
button:active {
    box-shadow: inset 0px 2px 2px 2px #1d2028;
}


#equals {
   width: 165px; 
   font-size: 37px;
   background-color: #B33951;
}



.calculator {
    display: flex;
    flex-direction: column;
    background-color: #54494B;
    width: 400px;
    box-shadow: 16px 16px 13px 0px #272728fc;
}

.display-container {
    text-align: center;
    word-wrap: break-word;
    word-break: break-all; 
    display: flex;
    justify-content: center;
}

.display {
    background-color: #F1F7ED;
    font-size: 40px;
    min-height: 64px;
    width: 400px;
    margin: 19px;
    padding: 11px;
    text-align: end;
    border-radius: 25px;
    box-shadow: inset 2px 2px 10px 3px black;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.num-bttn {
    background-color: #91C7B1;
}
/*  this is the class for the number buttons container (1,2,3,4,5...0,=) */
.num-bttn-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

/* this is the class for the operator button container (+, -, /,*)*/
.operator-bttn-cont {
    display: flex;
    flex-direction: column;
    height: 339px;
    gap: 5px;
}

/* css rule set for font type */
.display, .num-bttn, .operator, #equals {
    font-family: "Orbitron", sans-serif;
}

.operator-bttn-cont button {
    font-size: 20px;
    background-color: #E3D081;
}